<div class="modal-header">
  <h4 class="modal-title">Order Your Product</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<div class="modal-body">
  <p>Are you sure you want to buy <b>{{ product?.name }}</b>?</p>
  <p>Price: <b>{{ product?.price | currency }}</b></p>
  <p>The price will be deducted from your account.</p>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="SubmitOrder()">Yes</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">No</button>
</div>
