<div class="container">
  <h2>Create Bank Account</h2>
  <form (ngSubmit)="createAccount()">
    <label>User ID:</label>
    <input type="number" [(ngModel)]="newAccount.userId" name="userId" required />

    <label>Account Number:</label>
    <input type="text" [(ngModel)]="newAccount.accountNumber" name="accountNumber" required />

    <label>Balance:</label>
    <input type="number" [(ngModel)]="newAccount.balance" name="balance" required />

    <button type="submit">Create Account</button>
  </form>



 <div>
  <input type="number" [(ngModel)]="userIdToSearch" placeholder="Enter User ID" />
  <button (click)="getAccount()">Get Account</button>
</div>

  <div *ngIf="userAccount">
    <h3>Account Details</h3>
    <p><b>ID:</b> {{ userAccount.id }}</p>
    <p><b>User ID:</b> {{ userAccount.userId }}</p>
    <p><b>Holder:</b> {{ userAccount.accountHolder }}</p>
    <p><b>Number:</b> {{ userAccount.accountNumber }}</p>
    <p><b>Balance:</b> {{ userAccount.balance }}</p>
  </div>

  <div *ngIf="message" class="message">
    {{ message }}
  </div>
</div>
